@import url('../../css/main.css');

.head {
    text-align:center;
}

input {
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.inputDatePlace {
    text-align: center;
    margin-top: 50px;
}

table {
    margin: 30px auto;
}

.btn-lg {
    margin-top: 20px;
    width: 150px;
}

.zodiac img{
    width: 500px;
    margin: auto;
}

/* FOR INNER */

.forError {
    padding-top: 5px;
	text-align: center;
	color: red;
    font-size: 20px;
}