@import url('../../css/main.css');

/* CONTENT */

.cloudText {
    margin: 20px auto;
    width: 640px;
}

.predictionText {
    float: left;
    padding-right: 20px;
}

.predictor {
    margin-top: 20px;
    margin: auto;
}

.predictionText p {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    display: block;
    margin: 30px auto;
    width: 640px;
    padding-top: 25px;
    padding-left: 48px;
}

.listenerText p{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    display: block;
    margin: 30px auto;
    width: 640px;
    padding-top: 5px;
    padding-left: 385px;
}

.inputDream {
    position: absolute;
    padding-top: 50px;
    padding-left: 353px; 
    margin: 20px auto;
    width: 640px;
}

#inputDream {
    font-size: 16px;
    padding-left: 10px;
    height: 30px;
    width: 250px;
	font-weight: bold;
}

.inputDream  button {
    margin-top: 12px;
    margin-left: 68px;
}

#dreamBtn {
	background-color: blue;
	color: white;
	font-weight: bold;
	height: 25px;
}